Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE". You can run all the tests with the validate button. If the validate command takes too long, you can also confirm that you pass all the tests if you can run through the whole notebook without getting validation errors.

For this problem set, we'll be using the Jupyter notebook:

![](jupyter.png)

## DataFrame Exercises
In this notebook your job is to implement multiple small methods that process and analyze airtraffic data with DataFrames. DataFrames can be queried with SQL language and through SparkSQL API. Both of them can be used to implement methods in these exercises. The links below may be helpful:

- http://spark.apache.org/docs/latest/sql-programming-guide.html
- https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_df.html
- https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.DataFrame.html

We will use a sample of "2008.csv.bz2" which contains airtraffic data from https://dataverse.harvard.edu/api/access/datafile/1374917?gbrecs=true.

There are already two Spark SQL tables available from the start:

- table "carriers" inlcudes information of airlines
- table "airports" includes information of airports

In [234]:
from pyspark.sql import SparkSession, Row
import pyspark.sql.functions as f
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import pandas as pd
import numpy as np
%matplotlib inline

spark = SparkSession.builder\
    .master("local[*]")\
    .appName("main")\
    .config("spark.dynamicAllocation.enabled", "true")\
    .config("spark.shuffle.service.enabled", "true")\
    .getOrCreate()\

#names of tables
airTraffic = "airtraffic"
carriers = "carriers"
airports = "airports"

carriersTable = spark.read.csv("carriers.csv", inferSchema="true", header="true")
carriersTable.createOrReplaceTempView(carriers)

airportsTable = spark.read.csv("airports.csv", inferSchema="true", header="true")
airportsTable.createOrReplaceTempView(airports)

In [235]:
# Methods and variables that will be used in more than one tests

# Test if arrays that contain Row are equal
def correctRows(testArray, correctArray):
    for i in range(0, len(correctArray)):
        assert testArray[i].asDict() == correctArray[i].asDict(), "the row was expected to be %s but it was %s" % (correctArray[i].asDict(), testArray[i].asDict())

# Path of smaller airtraffic data set
sampleFile = "2008_sample.csv"
testFile = "2008_testsample.csv"
testFile2 = "2008_testsample2.csv"

## Load Data and Register 
`loadDataAndRegister` loads airtraffic data and registers it as a table so that we can use it later for Spark SQL. 

param `path`: path of file that should be loaded and registered.

`return`: DataFrame containing airtraffic information.

The schema of returned DataFrame should be:

Name | Type
------| :-----
Year  | integer (nullable = true)
Month | integer (nullable = true)
DayofMonth | integer (nullable = true)
DayOfWeek | integer (nullable = true)
DepTime | integer (nullable = true)
CRSDepTime | integer (nullable = true)
ArrTime | integer (nullable = true)
CRSArrTime | integer (nullable = true)
UniqueCarrier | string (nullable = true)
FlightNum | integer (nullable = true)
TailNum | string (nullable = true)
ActualElapsedTime | integer (nullable = true)
CRSElapsedTime | integer (nullable = true)
AirTime | integer (nullable = true)
ArrDelay | integer (nullable = true)
DepDelay | integer (nullable = true)
Origin | string (nullable = true)
Dest | string (nullable = true)
Distance | integer (nullable = true)
TaxiIn | integer (nullable = true)
TaxiOut | integer (nullable = true)
Cancelled | integer (nullable = true)
CancellationCode | string (nullable = true)
Diverted | integer (nullable = true)
CarrierDelay | integer (nullable = true)
WeatherDelay | integer (nullable = true)
NASDelay | integer (nullable = true)
SecurityDelay | integer (nullable = true)
LateAircraftDelay | integer (nullable = true)

Hints:
- How to load csv data: https://spark.apache.org/docs/latest/api/python//reference/api/pyspark.sql.DataFrameReader.csv.html
- If you just load data using `inferSchema="true"`, some of the fields which shoud be Integers are casted to Strings because null values are represented as "NA" strings in the data. E.g. 2008,7,2,3,733,735,858,852,DL,1551,N957DL,85,77,42,6,-2,CAE, ATL,191,15,28,0,,0,NA,NA,NA,NA,NA. Therefore you need to replace all "NA" strings with null. Option "nullValue" is helpful.
- Please use the variable `airTraffic` as table name.

In [236]:
def loadDataAndRegister(path):

    airTrafficTable = spark.read.csv(path, inferSchema="true", header="true", nullValue = "NA")
    airTrafficTable.createOrReplaceTempView(airTraffic)
    return airTrafficTable

airtraffic = loadDataAndRegister(sampleFile)
airtraffic.show()

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    2|        28|        4|   1806|      1805|   1818|      1820|           WN|     1642| N392SW|               72|            75|     55|      -2|       1|   SLC| LAS|     368|     6|     11|        1|               D|       0|        null|        null|    null|         null|             null|
|2008|    4|         6|        7|   1527|      1531|   1636|      1627|           NW|     1757|  N9337|               69|            56|     30|       9|      -4|   DTW| CMH|     155|     2|     37|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    4|        23|        3|    738|       745|    959|      1013|           NW|      585| N585NW|              201|           208|    181|     -14|      -7|   MCO| MSP|    1310|     4|     16|        1|               D|       0|        null|        null|    null|         null|             null|
|2008|    2|        28|        4|    842|       846|    942|       950|           MQ|     3300| N935AE|               60|            64|     42|      -8|      -4|   ABI| DFW|     158|    14|      4|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    4|        21|        1|   1544|      1545|   1715|      1715|           MQ|     3422| N932AE|               91|            90|     72|       0|      -1|   MCI| DAL|     461|     2|     17|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    4|         5|        6|   1758|      1756|   1936|      1947|           CO|      491| N27213|              158|           171|    135|     -11|       2|   MIA| IAH|     964|     4|     19|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    1|        11|        5|    556|       600|    909|       906|           UA|      668| N854UA|              133|           126|    107|       3|      -4|   ORD| LGA|     733|    10|     16|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    3|        12|        3|   2227|      2155|   2315|      2240|           WN|       79| N769SW|               48|            45|     33|      35|      32|   TPA| PBI|     174|     4|     11|        0|            null|       0|          32|           0|       3|            0|                0|
|2008|    2|         9|        6|    722|       725|    920|       919|           CO|     1406| N75861|              178|           174|    139|       1|      -3|   FLL| IAH|     965|    26|     13|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    3|        20|        4|   1613|      1608|   1740|      1737|           UA|      954| N381UA|               87|            89|     73|       3|       5|   SAN| SFO|     447|     7|      7|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    4|        14|        1|   2111|      2105|   2120|      2115|           OH|     5481| N625CA|               69|            70|     45|       5|       6|   CVG| BNA|     230|     7|     17|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    2|        22|        5|   1545|      1545|   1707|      1711|           XE|       73| N11189|              202|           206|    190|      -4|       0|   OMA| ONT|    1286|     4|      8|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    4|        23|        3|   2023|      2000|   2132|      2115|           WN|      331| N384SW|               69|            75|     57|      17|      23|   PVD| BWI|     328|     4|      8|        0|            null|       0|           0|           0|       0|            0|               17|
|2008|    4|        13|        7|   1118|      1124|   1223|      1219|           US|     1177| N588US|               65|            55|     38|       4|      -6|   MYR| CLT|     156|     4|     23|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    1|        28|        1|    937|       937|   1048|      1045|           YV|     7226| N515MJ|              131|           128|    104|       3|       0|   MDT| ORD|     594|     7|     20|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    4|        22|        2|   2152|      2130|   2223|      2202|           NW|      524| N340NB|               91|            92|     77|      21|      22|   MSP| RAP|     490|     5|      9|        0|            null|       0|          21|           0|       0|            0|                0|
|2008|    4|        23|        3|   1331|      1335|   1429|      1445|           AA|      419| N293AA|               58|            70|     44|     -16|      -4|   STL| ORD|     258|     5|      9|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    4|        16|        3|   1010|      1016|   1124|      1128|           OO|     5844| N926SW|               74|            72|     44|      -4|      -6|   DEN| RAP|     301|     7|     23|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    4|        25|        5|   1502|      1420|   2025|      1755|           AA|     1204| N251AA|              263|           155|    139|     150|      42|   DFW| RDU|    1062|     3|    121|        0|            null|       0|           0|           0|     112|            0|               38|
|2008|    3|        28|        5|   2010|      2010|   2109|      2100|           F9|      363| N939FR|              179|           170|    161|       9|       0|   SDF| DEN|    1023|     7|     11|        0|            null|       0|        null|        null|    null|         null|             null|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 20 rows

In [237]:
# example print

data = loadDataAndRegister(testFile)
data.show(5)
data.schema

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|    1|         4|        7|    632|       615|    756|       735|          02Q|     4794| N886AS|               84|            80|     62|      21|      17|   LAS| JFK|     357|     8|     14|        1|               D|       0|          17|           0|       4|            0|                0|
|2008|    5|         5|        1|    630|       615|    741|       735|           EV|     4794| N873AS|               71|            80|     56|       6|      15|   ROA| ATL|     357|     8|      7|        1|               D|       0|        null|         112|    null|         null|             null|
|2008|    5|         6|        2|    611|       615|    729|       735|           EV|     4794| N916EV|               78|            80|     58|      -6|      -4|   ROA| ATL|     357|     9|     11|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    5|         7|        3|    611|       615|    725|       735|           EV|     4794| N856AS|               74|            80|     61|     -10|      -4|   ROA| ATL|     357|     6|      7|        0|            null|       0|        null|        null|    null|         null|             null|
|2008|    3|         8|        4|    613|       615|    742|       735|           EV|     4794| N881AS|               89|            80|     58|       7|      -2|   LAS| JFK|     357|     6|     25|        0|            null|       0|        null|           7|    null|         null|             null|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 5 rows

StructType(List(StructField(Year,IntegerType,true),StructField(Month,IntegerType,true),StructField(DayofMonth,IntegerType,true),StructField(DayOfWeek,IntegerType,true),StructField(DepTime,IntegerType,true),StructField(CRSDepTime,IntegerType,true),StructField(ArrTime,IntegerType,true),StructField(CRSArrTime,IntegerType,true),StructField(UniqueCarrier,StringType,true),StructField(FlightNum,IntegerType,true),StructField(TailNum,StringType,true),StructField(ActualElapsedTime,IntegerType,true),StructField(CRSElapsedTime,IntegerType,true),StructField(AirTime,IntegerType,true),StructField(ArrDelay,IntegerType,true),StructField(DepDelay,IntegerType,true),StructField(Origin,StringType,true),StructField(Dest,StringType,true),StructField(Distance,IntegerType,true),StructField(TaxiIn,IntegerType,true),StructField(TaxiOut,IntegerType,true),StructField(Cancelled,IntegerType,true),StructField(CancellationCode,StringType,true),StructField(Diverted,IntegerType,true),StructField(CarrierDelay,IntegerType,true),StructField(WeatherDelay,IntegerType,true),StructField(NASDelay,IntegerType,true),StructField(SecurityDelay,IntegerType,true),StructField(LateAircraftDelay,IntegerType,true)))

In [238]:
'''loadDataAndRegister tests'''

df = loadDataAndRegister(testFile)

# Table "airtraffic" should exists
assert spark.sql("SHOW TABLES Like 'airtraffic'").count() == 1, "there was expected to be a table called 'airtraffic'"

# Columns should have correct values
third = df.collect()[2]
correctRow = Row(Year=2008, Month=5, DayofMonth=6, DayOfWeek=2, DepTime=611,
                             CRSDepTime=615, ArrTime=729, CRSArrTime=735, UniqueCarrier='EV',
                             FlightNum=4794, TailNum='N916EV', ActualElapsedTime=78,
                             CRSElapsedTime=80, AirTime=58, ArrDelay=-6, DepDelay=-4,
                             Origin='ROA', Dest='ATL', Distance=357, TaxiIn=9, TaxiOut=11,
                             Cancelled=0, CancellationCode=None, Diverted=0, CarrierDelay=None,
                             WeatherDelay=None, NASDelay=None, SecurityDelay=None,
                             LateAircraftDelay=None).asDict()

assert third.asDict() == correctRow, "the row was expected to be %s but it was %s" % (correctRow, third.asDict())

## Flight Count
`flightCount` gets the number of flights for each airplane. The "TailNum" column is unique for each airplane so it can be used.

param `df`: Airtraffic DataFrame created using `loadDataAndRegister`.

`return`: DataFrame containing number of flights per TailNum. DataFrame should include columns "TailNum" and "count" (the number of flights for an airplane) . Airplanes whose TailNum is null should not be included in the returned DataFrame. **The returned DataFrame should be sorted by count in descending order.** 

Hint: use dataframe methods instead of sql

Example output:

TailNum|count
-------:|-----
N693BR| 1526|
N646BR| 1505|
N476HA| 1490|
N485HA| 1441|
N486HA| 1439|

In [239]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count

def flightCount(df):
    flight_counts = df.groupBy('TailNum').agg(count('*').alias('count'))
    flight_counts = flight_counts.orderBy(flight_counts["count"].desc())  # Use orderBy instead of sort
    return flight_counts

numOfFlights = flightCount(airtraffic)
numOfFlights.show(5)

+-------+-----+
|TailNum|count|
+-------+-----+
| N515MJ|    2|
| N317AE|    2|
| N479HA|    1|
| N909FJ|    1|
| N464AA|    1|
+-------+-----+
only showing top 5 rows

In [240]:
# example print
data = loadDataAndRegister(sampleFile)
flightCount(data).show(5)

+-------+-----+
|TailNum|count|
+-------+-----+
| N515MJ|    2|
| N317AE|    2|
| N479HA|    1|
| N909FJ|    1|
| N464AA|    1|
+-------+-----+
only showing top 5 rows

In [241]:
'''flightCount tests'''

data = loadDataAndRegister(testFile2)
        
correct = [Row(TailNum='N881AS', count=5),
           Row(TailNum='N886AS', count=3),
           Row(TailNum='N824AS', count=2)]

#print(flightCount(data).take(3))

correctRows(flightCount(data).take(3), correct)

### You can either use Spark SQL or normal DataFrame (given as parameter) transformations to implement the methods below.

## Cancelled Due to Security
`cancelledDueToSecurity` finds which flights were cancelled due to security reasons. 

`return`: DataFrame containing flights which were cancelled due to security reasons (CancellationCode = "D"). Columns "FlightNum" and "Dest" should be included.

Example output:

FlightNum|Dest|
----:|-------
4285| DHN|
4790| ATL|
3631| LEX|
3632| DFW|

In [242]:
from pyspark.sql import SparkSession

def cancelledDueToSecurity(df):
    df.createOrReplaceTempView("data")
    cancelled_security = spark.sql("SELECT FlightNum, Dest FROM data WHERE CancellationCode = 'D'")
    return cancelled_security

In [243]:
# example print

data = loadDataAndRegister(sampleFile)
cancelledDueToSecurity(data).show(5)

+---------+----+
|FlightNum|Dest|
+---------+----+
|     1642| LAS|
|      585| MSP|
+---------+----+

In [244]:
'''cancelledDueToSecurity tests'''

data = loadDataAndRegister(testFile)
correct = [Row(FlightNum=4794, Dest='JFK'), Row(FlightNum=4794, Dest='ATL')]
correctRows(cancelledDueToSecurity(data).collect(), correct)

## Longest Weather Delay
`longestWeatherDelay` finds the longest weather delay between January and March (1.1-31.3).

`return`: DataFrame containing the longest weather delay.

Example output:

|_c0|
|-------:|
|1148|

In [245]:
def longestWeatherDelay(df):
    df.createOrReplaceTempView("data")
    longest_delay = spark.sql("SELECT MAX(WeatherDelay) FROM data WHERE Month < 4")
    return longest_delay

In [246]:
# example print

data = loadDataAndRegister(sampleFile)
longestWeatherDelay(data).show()

+-----------------+
|max(WeatherDelay)|
+-----------------+
|               40|
+-----------------+

In [247]:
'''longestWeatherDelay tests'''

data = loadDataAndRegister(testFile)
test = longestWeatherDelay(data).first()[0]

assert test == 7, "the longest weather delay was expected to be 7 but it was %s" % test

## Did Not Fly
`didNotFly` finds which airlines didn't have flights. 

`return`: DataFrame containig descriptions (names) of airlines that didn't have flights.

Example output:

|         Description|
|--------------------|
|Aero Transcolombiana|
|Transmeridian Air...|
|Luftransport-Unte...|
|Euro Atlantic Air...|
|    Pearson Aircraft|


Hints:
- Schema "UniqueCarrier" (the code of airline) of table "airtraffic" can be used when implementing this method.
- Table "carriers" containing airlines' names is already loaded to "carriersTable" object at the beginning.
- Cancelled flights are not counted as "did not fly".

In [248]:
def didNotFly(df):
    df.createOrReplaceTempView("flight_data")
    carriersTable.createOrReplaceTempView("carrier_data")
    not_flown = spark.sql("""
        SELECT carrier_data.Description 
        FROM carrier_data 
        LEFT JOIN flight_data 
        ON carrier_data.Code = flight_data.UniqueCarrier 
        WHERE flight_data.UniqueCarrier IS NULL
    """)
    return not_flown

In [249]:
# example print

data = loadDataAndRegister(sampleFile)
didNotFly(data).show(5)

+--------------------+
|         Description|
+--------------------+
|       Titan Airways|
|  Tradewind Aviation|
|     Comlux Aviation|
|Master Top Linhas...|
| Flair Airlines Ltd.|
+--------------------+
only showing top 5 rows

In [250]:
'''didNotFly tests'''

data = loadDataAndRegister(testFile)
test = didNotFly(data).count()

assert test == 1489, "the amount of airlines that didn't fly was expected to be 1489 but it was %s" % test

## Flights from Vegas to JFK
`flightsFromVegasToJFK` finds airlines that fly from Vegas to JFK.

`return`: DataFrame containing columns "Descriptions" (names of airlines) and "Num" (number of flights). **The DataFrame should be sorted by Num in descending order.**

Example output:

|         Description|Num|
|--------------------|---|
|     JetBlue Airways|566|
|Delta Air Lines Inc.|441|
|US Airways Inc. (...|344|
|American Airlines...|121|

Hints:
- Vegas iasa code: LAS. JFK iasa code: JFK

In [251]:


def flightsFromVegasToJFK(df):
    df.createOrReplaceTempView("flight_data")
    carriersTable.createOrReplaceTempView("carrier_data")
    
    vegas_to_jfk = spark.sql("""
        SELECT carrier_data.Description, COUNT(*) AS Num
        FROM carrier_data 
        INNER JOIN flight_data 
        ON carrier_data.Code = flight_data.UniqueCarrier 
        WHERE flight_data.Origin = 'LAS' AND flight_data.Dest = 'JFK'
        GROUP BY carrier_data.Description
        ORDER BY Num DESC, carrier_data.Description DESC
    """)
    
    return vegas_to_jfk

In [252]:
# example print

data = loadDataAndRegister(testFile)
flightsFromVegasToJFK(data).show()

+--------------------+---+
|         Description|Num|
+--------------------+---+
|       Titan Airways|  1|
|Atlantic Southeas...|  1|
+--------------------+---+

In [253]:
'''flightsFromVegasToJFK tests'''

data = loadDataAndRegister(testFile)
correct = [Row(Description='Titan Airways', Num=1),
           Row(Description='Atlantic Southeast Airlines', Num=1)]
correctRows(flightsFromVegasToJFK(data).collect(), correct)

## Time Spent in Taxiing
`timeSpentTaxiing` finds how much time airplanes spent in moving from gate to the runway and vise versa at an airport on average. 

`return`: DataFrame contains the average time spent in taxiing per airport. The DataFrame should contain columns "airport" (iata codes of airports) and "taxi" (the average time spent in taxiing). **The DataFrame should be sorted by "taxi" in ascending order.**

Example output:

|airport|             taxi|
|-------|-----------------|
|    DLG|              4.0|
|    BRW|5.051010191310567|
|    OME|6.034800675790983|
|    AKN|             6.75|
|    SCC|6.842553191489362|

Hints:
- Columns "TaxiIn" and "TaxiOut" tells time spend in taxiing. "TaxiIn" means time spent in taxiing in departure ("Origin") airport and "TaxiOut" spent in taxiing in arrival ("Dest") airport. The wanted average is (average taxiing at origin for a given destination + average taxiing at destination for a given matching origin) / 2.
- Try the "inner join".

In [254]:
def timeSpentTaxiing(df):
    df.createOrReplaceTempView("flight_data")
    airportsTable.createOrReplaceTempView("airports")
    
    taxi = spark.sql("""
        SELECT airports.iata as airport, (AVG(origin.TaxiIn) + AVG(dest.TaxiOut))/2 AS taxi 
        FROM airports 
        INNER JOIN flight_data AS origin
        ON airports.iata = origin.Origin
        INNER JOIN flight_data AS dest
        ON airports.iata = dest.Dest
        GROUP BY airports.iata
        ORDER BY taxi ASC
    """)
    
    return taxi

In [255]:
# example print

data = loadDataAndRegister(testFile)
timeSpentTaxiing(data).show(30)

+-------+-----+
|airport| taxi|
+-------+-----+
|    LAS| 11.0|
|    JFK|13.25|
+-------+-----+

In [256]:
'''timeSpentTaxiing tests'''

data = loadDataAndRegister(testFile)
correct = [Row(airport='LAS', taxi=11.0), Row(airport='JFK', taxi=13.25)]
correctRows(timeSpentTaxiing(data).collect(), correct)

In [257]:
data = loadDataAndRegister(testFile)

In [258]:
data.collect()

[Row(Year=2008, Month=1, DayofMonth=4, DayOfWeek=7, DepTime=632, CRSDepTime=615, ArrTime=756, CRSArrTime=735, UniqueCarrier='02Q', FlightNum=4794, TailNum='N886AS', ActualElapsedTime=84, CRSElapsedTime=80, AirTime=62, ArrDelay=21, DepDelay=17, Origin='LAS', Dest='JFK', Distance=357, TaxiIn=8, TaxiOut=14, Cancelled=1, CancellationCode='D', Diverted=0, CarrierDelay=17, WeatherDelay=0, NASDelay=4, SecurityDelay=0, LateAircraftDelay=0),
 Row(Year=2008, Month=5, DayofMonth=5, DayOfWeek=1, DepTime=630, CRSDepTime=615, ArrTime=741, CRSArrTime=735, UniqueCarrier='EV', FlightNum=4794, TailNum='N873AS', ActualElapsedTime=71, CRSElapsedTime=80, AirTime=56, ArrDelay=6, DepDelay=15, Origin='ROA', Dest='ATL', Distance=357, TaxiIn=8, TaxiOut=7, Cancelled=1, CancellationCode='D', Diverted=0, CarrierDelay=None, WeatherDelay=112, NASDelay=None, SecurityDelay=None, LateAircraftDelay=None),
 Row(Year=2008, Month=5, DayofMonth=6, DayOfWeek=2, DepTime=611, CRSDepTime=615, ArrTime=729, CRSArrTime=735, UniqueCarrier='EV', FlightNum=4794, TailNum='N916EV', ActualElapsedTime=78, CRSElapsedTime=80, AirTime=58, ArrDelay=-6, DepDelay=-4, Origin='ROA', Dest='ATL', Distance=357, TaxiIn=9, TaxiOut=11, Cancelled=0, CancellationCode=None, Diverted=0, CarrierDelay=None, WeatherDelay=None, NASDelay=None, SecurityDelay=None, LateAircraftDelay=None),
 Row(Year=2008, Month=5, DayofMonth=7, DayOfWeek=3, DepTime=611, CRSDepTime=615, ArrTime=725, CRSArrTime=735, UniqueCarrier='EV', FlightNum=4794, TailNum='N856AS', ActualElapsedTime=74, CRSElapsedTime=80, AirTime=61, ArrDelay=-10, DepDelay=-4, Origin='ROA', Dest='ATL', Distance=357, TaxiIn=6, TaxiOut=7, Cancelled=0, CancellationCode=None, Diverted=0, CarrierDelay=None, WeatherDelay=None, NASDelay=None, SecurityDelay=None, LateAircraftDelay=None),
 Row(Year=2008, Month=3, DayofMonth=8, DayOfWeek=4, DepTime=613, CRSDepTime=615, ArrTime=742, CRSArrTime=735, UniqueCarrier='EV', FlightNum=4794, TailNum='N881AS', ActualElapsedTime=89, CRSElapsedTime=80, AirTime=58, ArrDelay=7, DepDelay=-2, Origin='LAS', Dest='JFK', Distance=357, TaxiIn=6, TaxiOut=25, Cancelled=0, CancellationCode=None, Diverted=0, CarrierDelay=None, WeatherDelay=7, NASDelay=None, SecurityDelay=None, LateAircraftDelay=None),
 Row(Year=2008, Month=5, DayofMonth=9, DayOfWeek=5, DepTime=615, CRSDepTime=615, ArrTime=736, CRSArrTime=735, UniqueCarrier='EV', FlightNum=4794, TailNum='N824AS', ActualElapsedTime=81, CRSElapsedTime=80, AirTime=59, ArrDelay=1, DepDelay=0, Origin='ROA', Dest='ATL', Distance=357, TaxiIn=7, TaxiOut=15, Cancelled=0, CancellationCode=None, Diverted=0, CarrierDelay=None, WeatherDelay=None, NASDelay=None, SecurityDelay=None, LateAircraftDelay=None),
 Row(Year=2008, Month=5, DayofMonth=10, DayOfWeek=5, DepTime=615, CRSDepTime=615, ArrTime=736, CRSArrTime=735, UniqueCarrier='EV', FlightNum=4794, TailNum='N824AS', ActualElapsedTime=81, CRSElapsedTime=80, AirTime=59, ArrDelay=1, DepDelay=0, Origin='JFK', Dest='LAS', Distance=357, TaxiIn=7, TaxiOut=15, Cancelled=0, CancellationCode=None, Diverted=0, CarrierDelay=None, WeatherDelay=None, NASDelay=None, SecurityDelay=None, LateAircraftDelay=None)]

In [259]:
timeSpentTaxiing(data).collect()

[Row(airport='LAS', taxi=11.0), Row(airport='JFK', taxi=13.25)]

## Distance Median
`distanceMedian` finds the median travel distance.

`return`: DataFrame containing the median travel distance.

Example output:

|_ c0|
|---|
|583.0|

Hints:
- Schema "Distance" of table "airtraffic" contains distance information.
- You should use exact percentile functions like Spark SQL build-in [percentile function](https://spark.apache.org/docs/latest/api/sql/index.html#percentile).  
- What does percentile mean? Please check: https://en.wikipedia.org/wiki/Percentile#Third_variant and http://onlinestatbook.com/2/introduction/percentiles.html

In [260]:
def distanceMedian(df):
    df.createOrReplaceTempView("flight_data")
    
    
    distance_med = spark.sql("""
    SELECT percentile(Distance, 0.5) 
    FROM flight_data""")
    
    return distance_med

In [261]:
# example print

data = loadDataAndRegister(sampleFile)
distanceMedian(data).show()

+----------------------------+
|percentile(Distance, 0.5, 1)|
+----------------------------+
|                       507.5|
+----------------------------+

In [262]:
'''distanceMedian tests'''

data = loadDataAndRegister(testFile)
test = distanceMedian(data).first()[0]
assert test == 357.0, "the distance median was expected to be 357.0 but it was %s" % test

## Score95
`score95` finds the percentile, below which 95% of the delay (CarrierDelay) observations may be found. 

return: DataFrame containing the 95th percentile of carrier delay. 

Example output:

|_ c0|
|----|
|77.0|

Hints:
- You should use exact percentile functions like Spark SQL build-in [percentile function](https://spark.apache.org/docs/latest/api/sql/index.html#percentile).

In [263]:
def score95(df):
    
    df.createOrReplaceTempView("flight_data")
    
    
    delay = spark.sql("""
    SELECT percentile(CarrierDelay, 0.95) 
    FROM flight_data""")
    
    return delay

In [264]:
# example print

data = loadDataAndRegister(sampleFile)
score95(data).show()

+---------------------------------+
|percentile(CarrierDelay, 0.95, 1)|
+---------------------------------+
|                33.85000000000002|
+---------------------------------+

In [265]:
'''score95 tests'''

data = loadDataAndRegister(testFile)
test = score95(data).first()[0]
assert test == 17.0, "the score95 was expected to be 17.0 but it was %s" % test

## Cancelled Flights
`cancelledFlights` finds airports where flights were cancelled. 

return: DataFrame containing columns "airport", "city" and "percentage". 
- Columns "airport" and "city" can be found from table "airports". Column "percentage" is the cancellation percentage of each airport (number of cancelled flights/total of flights).
- **The returned DataFrame should be sorted by "percentage" and secondly by "airport" both in descending order.**

Example output:

|             airport|       city|         percentage|
|--------------------|-----------|-------------------|
|Pellston Regional...|   Pellston| 0.3157894736842105|
|  Waterloo Municipal|   Waterloo|               0.25|
|  Telluride Regional|  Telluride|0.21084337349397592|
|Houghton County M...|    Hancock|0.19834710743801653|
|Rhinelander-Oneid...|Rhinelander|            0.15625|

In [266]:
def cancelledFlights(df):
    df.createOrReplaceTempView("flight_data")
    airportsTable.createOrReplaceTempView("airport_data")
    
    cancelled = spark.sql("""
        SELECT airport_data.airport, airport_data.city, 
               SUM(CASE WHEN flight_data.Cancelled = 1 THEN 1 ELSE 0 END) / COUNT(*) as percentage
        FROM airport_data
        INNER JOIN flight_data
        ON airport_data.iata = flight_data.Origin
        GROUP BY airport_data.airport, airport_data.city
        ORDER BY percentage DESC, airport_data.airport DESC
    """)
    
    return cancelled

In [267]:
# example print

data = loadDataAndRegister(sampleFile)
cancelledFlights(data).show(5)

+--------------------+-----------------+-------------------+
|             airport|             city|         percentage|
+--------------------+-----------------+-------------------+
|Orlando Internati...|          Orlando|                1.0|
| Salt Lake City Intl|   Salt Lake City| 0.3333333333333333|
|Dallas-Fort Worth...|Dallas-Fort Worth|0.14285714285714285|
|William B Hartsfi...|          Atlanta|                0.0|
|   Will Rogers World|    Oklahoma City|                0.0|
+--------------------+-----------------+-------------------+
only showing top 5 rows

In [268]:
'''cancelledFlights tests'''

data = loadDataAndRegister(testFile)
correct = [Row(airport='McCarran International', city='Las Vegas', percentage=0.5),
           Row(airport='Roanoke Regional/ Woodrum ', city='Roanoke', percentage=0.25)]
correctRows(cancelledFlights(data).collect(), correct)

## Least Squares
`leastSquares` calculates the [linear least squares](https://en.wikipedia.org/wiki/Linear_least_squares) approximation for relationship between DepDelay and WeatherDelay (y=bx+c, where x represents DepDelay and y WeatherDelay, b is the slope and c constant term). We want to predict WeatherDelay.

`return`: tuple that has the constant term first and the slope second. If least squares can not be calculated, return 0.0 as terms.

Hints:
- Filter out entries where DepDelay<0 before calculating the linear least squares.
- There are definitely multiple datapoints for a single DepDelay value so calculate the average WeatherDelay per DepDelay.
- These links may be helpful:
    - https://en.wikipedia.org/wiki/Simple_linear_regression#Fitting_the_regression_line
    - http://www.neoprogrammics.com/linear_least_squares_regression
    - https://www.youtube.com/watch?v=JvS2triCgOY

In [269]:
def leastSquares(df):
    df.createOrReplaceTempView("flight_data")

    filtered = spark.sql("""
        SELECT * FROM flight_data
        WHERE DepDelay > 0 AND WeatherDelay IS NOT NULL
    """)

    filtered.createOrReplaceTempView("filt_data")

    count_y = spark.sql("""
        SELECT COUNT(WeatherDelay) as count
        FROM filt_data
    """).collect()[0]["count"]

    y_avg = spark.sql("""
        SELECT AVG(WeatherDelay) as avg
        FROM filt_data
    """).collect()[0]["avg"]

    X_avg = spark.sql("""
        SELECT AVG(DepDelay) as avg
        FROM filt_data
    """).collect()[0]["avg"]

    LS = spark.sql(f"""
        SELECT SUM((DepDelay - {X_avg}) * (WeatherDelay - {y_avg})) / SUM((DepDelay - {X_avg}) * (DepDelay - {X_avg})) as LS
        FROM filt_data
    """).collect()[0]["LS"]
    
    
    constant = spark.sql(f"""
    SELECT ({y_avg}-({LS}*{X_avg})) as constant
    FROM filt_data""").collect()[0]["constant"]
                                    
    return (constant,LS)

In [270]:
# example print

data = loadDataAndRegister(sampleFile)
leastSquares(data)

(Decimal('3.18506311111111096672'), Decimal('-0.002512'))

In [ ]:
data = loadDataAndRegister(testFile)
test = leastSquares(data)
assert test == (952.0, -56.0), "the answer was expected to be (952.0, -56.0) but it was %s" % test

In [ ]:
spark.stop()